*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[tb-theme=bw]
{
    --main-bg: hsla(0, 0%, 2%, 1);
    --text-primary: hsla(0, 0%, 90%, 1);
    --font-face: 125% Consolas;
    --character-art-bg-opacity: .35;
    --character-art-bg-filter: none;
    --page-corner-border: 2px solid white;
}

body
{
    position: relative;
    --body-margin-left: 5rem;
    margin-left: var(--body-margin-left);

    background-color: var(--main-bg);
    color: var(--text-primary);
    font: var(--font-face);
    overflow: hidden;
}

#character-art-bg-wrapper, #centered-page-wrapper
{
    display: table-cell;
    height: 100vh;
    position: relative;
}

#centered-page-wrapper
{
    vertical-align: middle;
    z-index: 20;
}

#centered-page
{
    display: inline-block;
}

[tb-page-state=expanded] #centered-page h1
{
    opacity: 0;
    pointer-events: none;
}

nav
{
    --nav-anim-easing: ease-out;
    --nav-anim-duration: .25s;
}

nav ul
{
    list-style: none;
}

nav ul li
{
    position: relative;
    padding-left: 1em;
    text-indent: -1em;
    transition: var(--nav-anim-duration) var(--nav-anim-easing);
}

nav ul li.no-transition
{
    transition: none;
}

nav ul li:hover
{
    font-size: 125%;
    padding-top: .05em;
    padding-bottom: .05em;
}

[tb-page-state=expanded] nav ul li.active
{
    font-size: 200%;
    padding-top: .1em;
    padding-bottom: .1em;
}

[tb-page-state=expanded] nav ul li:not(.active)
{
    opacity: 0;
    pointer-events: none;
}

[tb-page-state=expanded] nav ul li.active
{
    position: absolute;
    width: 80vw;
    z-index: 50;
    font-size: 240%;
}

nav ul li a
{
    padding-left: 1.45em;
    margin-left: -1.45em;
}

nav ul li::before
{
    content: ">";
    position: absolute;
    transition: transform .25s cubic-bezier(0.56, 0.39, 0.27, 1.55);
    pointer-events: none;
}

[tb-page-state=expanded] nav ul li::before
{
    /* content: "<"; */
    transform: scale(-1) translate(1.5em, -.1em);
    /* transform: scale(0); */
}

[tb-page-state=normal] nav ul li:hover::before
{
    /* animation: nav-li-bounce-left 1s ease, nav-li-bounce-left-simple .3s .95s alternate ease infinite; */
    transform: scale(1) translate(-.25em);
}

@keyframes nav-li-bounce-left
{
    0%
    {
        margin-left: .25em;
    }
    60%
    {
        margin-left: -.5em;
    }
    80%
    {
        margin-left: .1em;
    }
    100%
    {
        margin-left: 0;
    }
}

@keyframes nav-li-bounce-left-simple
{
    0%
    {
        margin-left: 0em;
    }
    100%
    {
        margin-left: -.5em;
    }
}

nav ul li .page
{
    position: relative;
    max-height: 0;
    overflow: hidden;
    padding-left: 0;
    text-indent: 0;
    margin-left: -1em;
    transition: max-height .125s ease;
}

[tb-page-state=expanded] nav ul li.active .page
{
    max-height: 80vh;
    height: 80vh;
}

.page-corners, .page-spinner
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.page-corners
{
    --page-corners-size: 5rem;
    width: calc(var(--page-corners-size) * 2);
    height: calc(var(--page-corners-size) * 2);

    --page-corners-transition: .25s .5s ease;
    transition: width var(--page-corners-transition), height var(--page-corners-transition);
}

[tb-page-state=collapsing] nav .page-corners
{
    visibility: hidden;
}

[tb-page-state=expanded] nav .active .page-corners
{
    width: 100%;
    height: 100%;
}

[tb-page-state=expanded] #page-wrapper > .page-corners *
{
    border-width: 0;
}

.page-corners *
{
    width: var(--page-corners-size);
    height: var(--page-corners-size);
    position: absolute;

    transition: .25s ease;
}

nav .page-corners *
{
    border-width: 0;
    opacity: 0;
}

[tb-page-state=expanded] nav .active [loading-state=loading] .page-corners *
{
    /* animation: page-corners-border .25s .5s ease reverse forwards; */
    border-width: 2px;
    opacity: 1;
    transition-delay: .5s;
}

[tb-page-state=expanded] nav .active [loading-state=finished] .page-corners *
{
    /* animation: page-corners-border .5s 2s ease forwards; */
}

@keyframes page-corners-border
{
    from
    {
        border-width: 2px;
        opacity: 1;
    }
    to
    {
        border-width: 0;
        opacity: 0;
    }
}

#page-wrapper > .page-corners
{
    --page-corners-size: 2rem;
    --page-corner-border: 3px solid rgba(255, 255, 255, 0.226);
    margin-left: calc(var(--body-margin-left) * -.5);
    width: 100vw;
    height: 100vh;
    transition: opacity .25s .25s ease, .25s ease;
}

[tb-page-state=expanded] #page-wrapper > .page-corners
{
    opacity: 0;
}

#page-wrapper > .page-corners *
{
    margin: 1rem;
    transition: .25s ease;
}

[tb-page-state=expanded] #page-wrapper > .page-corners *
{
    margin: 0;
}

.page-corners .upper
{
    top: 0;
    border-top: var(--page-corner-border);
}

.page-corners .lower
{
    bottom: 0;
    border-bottom: var(--page-corner-border);
}

.page-corners .left
{
    left: 0;
    border-left: var(--page-corner-border);
}

.page-corners .right
{
    right: 0;
    border-right: var(--page-corner-border);
}

.page-spinner
{
    --page-spinner-diameter: 2.5rem;
    width: var(--page-spinner-diameter);
    height: var(--page-spinner-diameter);
    border-radius: 50%;
    border: 2px solid white;
    animation: spinning 1s infinite linear;
    opacity: 0;
}

[loading-state=loading] .page-spinner
{
    opacity: 1;
}

.page-spinner::before
{
    content: " ";
    display: inline-block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 10;
    border-top: 2px solid white;
}

@keyframes spinning
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

.page-content
{
    opacity: 0;
    transition: opacity .5s;
}

[loading-state=finished] .page-content
{
    opacity: 1;
}

#character-art-bg
{
    /* vertical-align: bottom; */
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -1rem;
    /* margin-left: -10%; */
    opacity: var(--character-art-bg-opacity);
    letter-spacing: -.035rem;
    filter: var(--character-art-bg-filter);
    transition: opacity .5s ease;
}

/* [tb-page-state=expanded] #character-art-bg
{
    opacity: 0;
} */

#character-art-bg-wrapper
{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#character-art-bg pre font
{
    font-size: 2vh;
    /* font-size: 3pt; */
    transition: opacity .005s ease;
}

html:not(.gecko) #character-art-bg pre font
{
    transition: color .5s ease;
}